<div class="music-player">
    <div class="album">
        <div class="album2">
            <img class="album-img pointer"
                src="{{currentSong?.album?.artwork}}"
                alt="album">

            <div class="description">
                <p class="description1 pointer">{{currentSong?.name}}</p>
                <p class="description2 pointer cursor time hide2">
                    {{currentSong?.artist?.name}}
                </p>
            </div>
            <div class="plush pointer cursor time hide2">
                <i class="fa-solid fa-plus plush-icon"></i>
            </div>
        </div>
        
        <i class="fa-solid fa-play pause2 hide hide3"></i>
    </div>

    <div class="player">
        <div class="controls">
            <img class="pointer hide2" src="/images/player_icon1.png" alt="suffle">
            <img class="pointer hide2" src="/images/player_icon2.png" alt="backward">
            <img class="pause pointer scale hide2" src="/images/player_icon3.png" alt="play" (click)="pause()">
            <img class="pointer hide2" src="/images/player_icon4.png" alt="forward">
            <img class="loop pointer hide2" src="/images/player_icon5.png" alt="loop">
        </div>

        <div class="progress-bar">
            <span class="current-time hide2">
                {{currentTime | timeFormat}}
            </span>

            <input type="range" class="play-bar pointer" min="0" max="100" [value]="currentTime" [max]="duration"
                (input)="seek($event.target)" />

            <span class="current-time total-time hide2">
                {{duration | timeFormat}}
            </span>
        </div>
    </div>

    <div class="hw-controls hide2">
        <img src="/images/controls_icon1.png" alt="control1" class="control1 pointer cursor time">
        <img src="/images/controld_icon2.png" alt="control2" class="control2 pointer cursor time">
        <img src="/images/controls_icon3.png" alt="control3" class="control3 pointer cursor time">
        <img src="/images/controls_icon4.png" alt="control5" class="control4 pointer cursor time">
        <img src="/images/controls_icon5.png" alt="control5" class="control5 pointer cursor time">

        <input type="range" value="90" class="volume pointer" (change)="volume($event.target)">

        <img src="/images/album_icon2.png" alt="control6" class="control6 pointer">
        <div class="full-screen pointer">
            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
        </div>
    </div>

</div>