<h2 class="card-heading center">Recently Played</h2>
<div class="cards-container">
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img"
            src="https://lastfm.freetls.fastly.net/i/u/770x0/5cbab58d7ead7aaddba35f9c793f3a69.jpg#5cbab58d7ead7aaddba35f9c793f3a69"
            alt="card image">
        <p class="card-title">The Rites of the Vampire Inscriptions</p>
        <p class="card-info">Wampyric Rites</p>
    </div>
</div>

<app-recently-added></app-recently-added>
