<h2 class="card-heading center">Recently Played</h2>
<div class="cards-container">
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img"
            src="https://lastfm.freetls.fastly.net/i/u/770x0/5cbab58d7ead7aaddba35f9c793f3a69.jpg#5cbab58d7ead7aaddba35f9c793f3a69"
            alt="card image">
        <p class="card-title">The Rites of the Vampire Inscriptions</p>
        <p class="card-info">Wampyric Rites</p>
    </div>
</div>

<app-recently-added></app-recently-added>

<h2 class="card-heading center">To get you started</h2>
<div class="cards-container">
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="/images/getStart.jpeg" alt="card image">
        <p class="card-title">David Kushner Mik</p>
        <p class="card-info">Chance Pena, Tom Odell and Tom...</p>
    </div>
</div>

<h2 class="card-heading">Trending now near you</h2>
<div class="cards-container">
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="/images/card1img.jpeg" alt="card image">
        <p class="card-title">Top 50 - Global</p>
        <p class="card-info">Your daily update of the most played...</p>
    </div>
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="/images/top50Ind.png" alt="card image">
        <p class="card-title">Top 50 - India</p>
        <p class="card-info">Your daily update of the most played...</p>
    </div>
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="/images/card2img.jpeg" alt="card image">
        <p class="card-title">Mahiye Jinna Sona</p>
        <p class="card-info">Darshan Raval</p>
    </div>
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="/images/card4img.jpeg" alt="card image">
        <p class="card-title">Naa Ready (From...</p>
        <p class="card-info">Anirudh Ravichander, Thalapathy Vijay, Asal...</p>
    </div>
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="/images/card3img.jpeg" alt="card image">
        <p class="card-title">Meray Pass Tum H...</p>
        <p class="card-info">Rahat Fateh Ali Khan</p>
    </div>
    <div class="card pointer">
        <div class="play">
            <i class="fa-solid fa-play"></i>
        </div>
        <img class="card-img" src="/images/bollywood.jpeg" alt="card image">
        <p class="card-title">Bollywood...</p>
        <p class="card-info">Best acoustic melodies from...</p>
    </div>
</div>

<h2 class="card-heading">Spotify original podcasts</h2>
<div class="cards-container">
    <div class="card pointer">
        <img class="card-img" src="/images/podcast1.png" alt="card image">
        <p class="card-title">The Ranveer Show</p>
        <p class="card-info">BeerBiceps</p>
    </div>
    <div class="card pointer">
        <img class="card-img" src="/images/podcast4.png" alt="card image">
        <p class="card-title">Aa Modati Alajadi...</p>
        <p class="card-info">Spotify Studios</p>
    </div>
    <div class="card pointer">
        <img class="card-img" src="/images/podcast2.png" alt="card image">
        <p class="card-title">The Horror Show...</p>
        <p class="card-info">TMV Studios</p>
    </div>
    <div class="card pointer">
        <img class="card-img" src="/images/podcast3.png" alt="card image">
        <p class="card-title">True Story Bro! wi...</p>
        <p class="card-info">Spotify</p>
    </div>
    <div class="card pointer">
        <img class="card-img" src="/images/podcast5.png" alt="card image">
        <p class="card-title">The Joe Rogan...</p>
        <p class="card-info">Joe Rogan</p>
    </div>
    <div class="card pointer">
        <img class="card-img" src="/images/podcast6.png" alt="card image">
        <p class="card-title">Best Love Stories</p>
        <p class="card-info">Spotify Studios</p>
    </div>
</div>