<div class="side-bar--left hide2">
    <div class="library">
        <div class="option">
            <div class="lib-option nav-option transition hover">
                <img class="pointer" src="/images/library_icon.png" alt="lib icon">
                <a class="hide" href="#">Queue</a>
            </div>

            <div class="icons">
                <i class="fa-solid fa-plus pointer transition hover"></i>
                <i class="fa-solid fa-arrow-right pointer transition hover hide"></i>
            </div>
        </div>

        <div class="lib-boxes hide">
            <div class="box">
                <p class="box-p1 pointer">Create your first playlist</p>
                <p class="box-p2 pointer">It's easy, we'll help you</p>
                <button class="badge scale transition pointer">Create playlist</button>
            </div>
        </div>
    </div>
</div>