<!-- <main>
  <div class="d-flex">
    <div class="p-2">
      <app-left-sidebar></app-left-sidebar>
    </div>

    <div class="p-2 flex-grow-1">
      <app-top-navigator></app-top-navigator>
      <router-outlet />
    </div>

    <div class="p-2">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>

  <app-status-bar></app-status-bar>
</main> -->

<div class="main">
  <app-left-sidebar></app-left-sidebar>


  <div class="main-content">
    <app-top-navigator></app-top-navigator>

    <router-outlet />

    <app-footer></app-footer>

  </div>

  <div class="music-player">
    <app-player-controls></app-player-controls>
  </div>
</div>
