<section class="browselist">
    <a href="" class="browseitem rounded">
        <span class="icon">📂</span> Folders
    </a>

    <a href="" class="browseitem rounded">
        <span class="icon">📂</span> Albums
    </a>

    <a href="" class="browseitem rounded">
        <span class="icon">📂</span> Artists
    </a>

    <a href="" class="browseitem rounded">
        <span class="icon">📂</span> Playlists
    </a>

    <a href="" class="browseitem rounded">
        <span class="icon">📂</span> Favorites
    </a>

    <a href="" class="browseitem rounded">
        <span class="icon">📂</span> Settings
    </a>

    <a href="" class="browseitem rounded">
        <span class="icon">📂</span> Quick scan
    </a>

</section>