<div class="recentitems"><a href="#/albums/6b313459ac" class="album-card hlistitem">
        <div class="with-img rounded-sm no-scroll">
            <div class="gradient"></div><img class="shadow-lg"
                src="https://lastfm.freetls.fastly.net/i/u/770x0/7c616c640fa5afe889e513960823bd43.jpg#7c616c640fa5afe889e513960823bd43" alt="">
            <button class="play-btn circular"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor">
                    <path
                        d="M9.342 21.371c.369 0 .694-.132 1.098-.369l10.38-6.003c.756-.44 1.073-.782 1.073-1.336s-.317-.888-1.073-1.336L10.44 6.324c-.404-.237-.73-.369-1.098-.369-.72 0-1.23.554-1.23 1.424v12.568c0 .88.51 1.424 1.23 1.424Z">
                    </path>
                </svg></button>
        </div>
        <div>
            <div class="rhelp album"><span class="help">album</span><span class="time">1 day ago</span></div>
            <h4 class="title ellip" title="Human">Human</h4>
            <div class="artist ellip"><!--v-if--><!--v-if--><a href="#/artists/4f14c8623e" class="">Death</a></div>
            <div class="versions"><span class="master-flag" title=""
                    style="background-color: rgba(184, 108, 21, 0.282); color: rgb(255, 153, 0);">anniversary
                    edition</span></div>
        </div>
    </a></div>