<footer class="footer">
    <div class="social-media">
        <div class="social pointer time">
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="social pointer time">
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="social pointer time">
            <i class="fa-brands fa-facebook"></i>
        </div>
    </div>

    <div class="hr">
        <hr>
    </div>

    <div class="copy-right">
        <p>&copy; 2024 - Created by <span>nesticle8bit</span></p>
    </div>
</footer>