<div class="sticky-nav-pro">

    <div class="sticky-nav">
      <div class="left-part right-part ">
        <img class="bell pointer hover transition hide2" src="/images/backward_icon.png" alt="Backward">
        <img class="bell pointer hover transition hide" src="/images/forward_icon.png" alt="forward">
        <div class="hero">
          <i class="fa-solid fa-house pointer hide hide3 visible"></i>
        </div>
        <div class="hero hero2">
          <i class="fa-solid fa-magnifying-glass pointer hide3 visible"></i>
        </div>
      </div>

      <div class="right-part">
        <button class="badge pointer hide scale transition">
          Explore Premium
        </button>

        <button type="button" class="badge pointer badge2 hover scale transition margin" [routerLink]="['/settings']">
          <i class="hide2 fa-regular fa-gear"></i> Settings
        </button>

        <div class="bell hover pointer transition margin">
          <i class="fa-regular fa-bell scale"></i>
        </div>

        <div class="user pointer margin">
          <img src="/images/letter-s.png" alt="user">
        </div>
      </div>
    </div>

    <div class="sticky-nav-boottom">
      <button class="badge all pointer">All</button>
      <button class="badge badge3 transition pointer">Music</button>
      <button class="badge badge3 transition pointer">Podcasts</button>
    </div>

  </div>